body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #f8f8f8;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.submenu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px 0;
    width: 150px;
}

.submenu li {
    margin: 0;
}

.submenu li a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
}

.productos-menu:hover .submenu,
.productos-menu:focus .submenu,
.productos-menu:active .submenu {
    display: block;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}
.titulo:hover {color: #009ACD;
padding: 2px;}

.descripcion-1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    margin-top: -60px;
  }


h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
}
.quien1 {   font-family: 'Bebas Neue', cursive;; /* Aplicar la fuente Playwrite NZ */
    font-size: 70px;
    text-align: center;
    margin-top: 5px;}

#quienes-somos {margin-top: 5px;
    padding: 40px 20px;
    background: #f9f9f9;
}
.text1 {
    font-family: 'Playwrite NZ', sans-serif; /* Aplicar la fuente Playwrite NZ */
    font-size: 24px; /* Ajustar el tamaño del texto según sea necesario */
    font-weight: 300; /* Ajustar el peso de la fuente según sea necesario */
    text-align: center; /* Alinear el texto al centro si es necesario */
    margin-top: -40px;
}
.products-section {
    padding: 20px;
}

.products-grid-combos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.products-grid-mates {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.products-grid-bombillas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.products-grid-canasta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.products-grid-chaulata {
    display: flex;
    justify-content: center;
}

.product {
    text-align: center;
}

.product img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}


.cart-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.cart-icon img {
    width: 30px;
}
/* Estilo para los elementos en el carrito */
.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 80px; /* Ajustar el tamaño de la imagen */
    height: auto;
    margin-right: 10px;
}

.cart-item div {
    flex-grow: 1;
}

.cart-item h4 {
    font-size: 18px; /* Tamaño de fuente más grande para el nombre del producto */
    margin-bottom: 5px;
}

.cart-item p {
    font-size: 14px; /* Tamaño de fuente más pequeño para la descripción y precio */
    margin-bottom: 5px;
}

.cart-item button {
    background-color: #ff6347; /* Color rojo para el botón */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 12px; /* Tamaño de fuente más pequeño para el botón */
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Añade un margen izquierdo */
}

.cart-item button:hover {
    background-color: #d32f2f; /* Cambio de tono en el hover */
}



.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.social-links a:hover {
    color: #00BFFF;
}
/* Estilo para los botones */
.buy-btn {
    background-color: #b3e5fc; /* Color celeste pastel */
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #81d4fa; /* Cambio de tono en el hover */
}

/* Estilo para el botón de comprar en WhatsApp */
.comprar-button {
    display: none; /* Inicialmente oculto */
    background-color: #4caf50; /* Color verde */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.comprar-button:hover {
    background-color: #45a049; /* Cambio de tono en el hover */
}
.remove-btn {
    background-color: #ff6347; /* Color rojo */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.remove-btn:hover {
    background-color: #d32f2f; /* Cambio de tono en el hover */
}

/* Estilos generales para el formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para los campos del formulario */
form input[type="text"],
form input[type="email"],
form textarea,
form button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del input */
}

/* Estilo para el botón de enviar */
form button {
    background-color: #00BFFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #009ACD;
}

/* Estilos para los enlaces sociales */
.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.social-links a:hover {
    color: #00BFFF;
}

/* Estilo para el pie de página del formulario */
form p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mate {
    width: 400px; /* Ajusta el tamaño según sea necesario */
    animation: heartbeat 1s infinite;
}

#promocion {
    background: #f4f4f4;
    padding: 3px;
    text-align: center;
}

.promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-content img {
    width: 30vw; /* 30% del ancho de la ventana */
    height: auto;
    display: block;
    margin: 0 auto;
}

.promo-content button {
    background-color: #b3e5fc; /* Color azul claro */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.promo-content button:hover {
    background-color: #81d4fa; /* Azul más claro al pasar el cursor */
}






    
@keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@media (max-width: 390px) {
    /* Estilos específicos para pantallas con ancho máximo de 390px */
    nav ul li {
        margin: 0 5px; /* Reducir margen de los elementos del menú */
    }

    h1 {
        font-size: 36px; /* Reducir tamaño de fuente */
    }

    .descripcion-1 {
        font-size: 24px; /* Reducir tamaño de fuente */
        margin-top: -20px;
    }

    h2 {
        font-size: 20px; /* Reducir tamaño de fuente */
        margin-top: 10px;
    }

    .text1 {
        font-size: 14px; /* Reducir tamaño de fuente */
        margin-top: -10px;
    }

    .products-grid-combos,
    .products-grid-mates,
    .products-grid-bombillas,
    .products-grid-canasta {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); /* Ajustar grid automáticamente */
        gap: 5px;
    }

    .cart-item img {
        width: 50px; /* Ajustar tamaño de imagen del carrito */
    }

    .social-links a {
        font-size: 14px; /* Reducir tamaño de fuente */
    }

    .buy-btn {
        padding: 6px 12px; /* Ajustar tamaño de botón */
        font-size: 12px; /* Reducir tamaño de fuente */
    }
    .promotion-title {
        font-size: 28px;
    }

    .promotion-description {
        font-size: 16px;
    }

    .promotion-button {
        font-size: 16px;
        padding: 8px 16px;
    }

}